.body_background 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#canvas
{
   border-width: 10px;
   background-color: rgb(255, 255, 255);
   border-style: ridge;
   border-color: blue;
}
#boton{
    border-color: aqua;
    border-radius: 10px;
    background-color: rgb(251, 255, 0);
}